.recommender-container {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-color);

    .selections-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .reset-btn {
            color: var(--secondary-color);
        }

        .selection-category {
            text-align: center;
            width: 40%;
        }

        .upper-section {
            text-align: center;
            width: 40%;
            margin-bottom: 20px;

            .selector {
                font-size: 28pt;
                width: 40%;
            }
        }

        .get-cleats-btn {
            width: 16%;
            font-size: 24pt;
        }
    }

    .category {
        font-size: 20pt;
    }

    .spinner {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .results-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        .clear-btn {
            position: absolute;
            top: 4vh;
            left: 59vw;
            color: var(--secondary-color);
        }

        .cleat-item {
            display: flex;
            width: 30%;
            border: 1px solid var(--primary-color);
            border-radius: 10px;
            margin: 10px;

            .cleat-image {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .cleat-label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                /* text-align: center; */
            }
        }

        .cleat-item:hover {
            box-shadow: 0 0 20px #5fe4fe;
            scale: 1.1;
            transition: all 0.1s ease;
        }
    }
}
