.modal {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* display: flex; */
}

.form-perimeter {
    height: 400px;
    width: 600px;
    background-color: white;
}

form {
    padding: 30px;
    /* text-align: center; */
    margin-top: 10px;
    font-size: 16pt;
}

label {
    /* display: inline-block; */
    /* text-align: right; */
}

input {
    /* justify-content: left; */
    /* align-items: left; */
    /* align-content: left; */
    margin: 10px;
    /* display: inline-block; */
}
