.generic-button {
    border-radius: 10px;
    border: 1px solid #646cffaa;
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    .btn-label {
        display: none;
    }
}

.generic-button:hover {
    box-shadow: 0 0 20px #646cffaa;
    scale: 1.1;
    /* height: 100px; */
    transition: all 0.25s ease;
}

.generic-button:hover .btn-label {
    position: absolute;
    bottom: 85px;
    display: inline;
    transition: all 1s ease;
}
