.hangman-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #646cffaa;

    .hangman-title {
        position: absolute;
        top: 50px;
    }

    .lives-section {

        margin-bottom: 150px;

        .life-icon {
            margin: 20px;
            font-size: 25pt;
        }
    }

    .correct-letters {
        .correct-letter, .line-icon {
            margin: 10px;
            font-size: 30pt;
        }
    }

    .letters {
        width: 30vw;
        height: 10vh;
        border: 1px solid #646cffaa;
        border-radius: 10px;
    }
}