.hangman-container {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #5fe4fe;

    .hangman-title {
        position: absolute;
        top: 20px;
    }

    .lives-section {

        margin-bottom: 50px;

        .life-icon {
            margin: 20px;
            font-size: 25pt;
        }
    }

    .input-field {
        font-size: 40pt;
        width: 80px;
        text-align: center;
        margin-bottom: 20px;
    }

    .test-floater {
        position:absolute;
        height: 20px;
        padding-top: 16px;
        padding-left: 16px;
        
    }

    .correct-letters {
        font-size: 30pt;
        display: flex;
        justify-content: center;
        align-items: center;

        .line-icon {
            margin: 3px;
            height: 70px;
        }
        .correct-letter {
            width: 76px;
            margin: 0px;
            text-align: center;
            font-size: 40pt;
        }
        margin-bottom: 30px;
    }

    .letters {
        width: 30vw;
        height: 10vh;
        border: 1px solid #5fe4fe;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22pt;

        .chars {
            padding: 5px;

        }
    }

    .btn-container {
        display: flex;
        justify-content: space-evenly;
        width: 25%;

        .btn {
            width: 160px;
            font-size: 20pt;
            display: inline;
        }
    }
}