input:focus {outline:none!important;}

.terminal-container {
    width: 100vw;
    height: 100vh;
    color: #5fe4fe;
    font-size: 14pt;
    font-family: monospace;
    padding: 8px;

    .ascii {
        line-height: normal;
        color: rgb(250, 192, 110);
        padding-left: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .text-input {
        caret-color: white;
        /* caret-shape: block; */
        border: none;
        width: 200px;
        color: white;
        font-size: 14pt;
        font-family: monospace;
        background: inherit;
    }
}

.help-container {

    padding-left: 30px;
    display: flex;

    .help-command-text {
        display: inline;
        color: rgb(250, 192, 110);
        width: 7%;
    }
    .help-description-text {
        display: inline;;
    }
}

.previous-command {
    color: white;
}

