.archive-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .cleat-row {
        color: white;
        padding: 20px 50px;
        height: 110px;
        width: 70%;
        border-bottom: 1px solid var(--primary-color);
        display: flex;
        justify-content: left;
        align-items: center;

        .brand {
            margin-left: 50px;
            width: 13%;
        }
        .model {
            width: 22%;
        }
        .data {
            width: 15%;
        }
    }

    .cleat-row:hover {
        scale: 1.05;
        transition: all 0.45s ease;
    }
}