table, tr {
    border: 1px solid;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

tr {
    height: 100px;
}

.header-row {
    height: 30px;
}

.image-col {
    width: 175px;
}

.cleat-name-col {
    font-size: 20pt;
    width: 40%;
}

.year-col {
    width: 10%;
}

.color-col {
    width: 25%;
}

.rating-col {
    font-size: 16pt;
}

.delete-col {
    width: 5%;
}

.delete-icon {
    color: red;
}

.add-btn {
    border-radius: 10px;
}

.add-row {
    height: 60px;
    border: 1px solid;
}
